.container {
	padding: 0;
}
.effcar{
	padding: 2;
	padding-top: 2;
	padding-left: 2;
	padding-bottom: 2;
	padding-right: 2;
	background-color: antiquewhite;
	align-items: center;
	justify-content: center;
}
.butcar{
	/* justify-content: right; */
}

.maincont {
	background: rgb(8, 8, 49);
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* font-family: Montserrat; */
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}

.maincont h1 {
	text-transform: uppercase;
}

.newTodo h3 {
	text-align: center;
}

.newTodo .semi {
	display: flex;
	gap: 8px;
}

.semi input {
	padding: 5px 7px;
	border: 2px solid rgb(52, 52, 114);
	outline: none;
	border-radius: 4px;
}

.semi button {
	border: none;
	padding: 5px 13px;
	background: #fff;
	color: rgb(8, 8, 49);
	border-radius: 5px;
	font-weight: bold;
}

.eachtodo {
	/* display: flex; */
	flex-direction: row;
	align-items: center;
	/* justify-content: space-between; */
	/* width: 18rem; */
}

.eachtodo div button {
	color: red;
	background: none;
	border: none;
	opacity: 70%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
}

.maincont button:hover {
	cursor: pointer;
}

.text {
	max-width: 350px;
}
.toggle {
	justify-content: right;
	align-items: right;
}

.tot{
	padding-top: 2%;
}
.comp{
	color: green;
	background: none;
}
.incomp{
	color: red;
	background: none;
}
.spa{
	padding-top: 2%;
}
.bot{
	padding-bottom: 10%;
}